.states-section{
    background:#f8f9fa;
}

.state-search{

height:58px;

border-radius:8px;

}

.state-search:focus{

border-color:#C8102E;

box-shadow:none;

}

.state-card{

background:#fff;

padding:35px 25px;

text-align:center;

height:100%;

border-radius:10px;

transition:.35s;

border:1px solid #ececec;

}

.state-card:hover{

transform:translateY(-8px);

border-color:#C8102E;

box-shadow:0 20px 40px rgba(0,0,0,.08);

}

.state-icon{

width:70px;

height:70px;

margin:auto;

margin-bottom:25px;

display:flex;

align-items:center;

justify-content:center;

background:#07111f;

color:#fff;

border-radius:50%;

transition:.35s;

}

.state-card:hover .state-icon{

background:#C8102E;

}

.state-card h4{

font-size:24px;

margin-bottom:10px;

}

.state-card p{

color:#666;

margin-bottom:25px;

}